.box-1 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: aqua;
    background-image: url(./images\ \(1\).jfif);
    background-size: contain ;
    margin: 1rem auto;
}

.box-2 {
    margin-left: 47rem;
    color: aqua;
}

.box {
    font-size: 40px;
    margin: 1rem auto;
    color: aqua ;
    background-color: green;
    box-shadow: 5px 5px 5px;
    width: 350px;
}

.-_- {
    margin: 1rem auto;
    color: aqua;
    background-color: green;
    width: 250px;
    box-shadow: 5px 5px 5px;
}

.myki {
    font-size: 40px;
    color: aqua;
    background-color: green;
    box-shadow: 5px 5px 5px;
    text-align: center;
    width: 1200px;
    justify-content: center;
    margin: 1rem auto;
}